@import "vars"
@import "fonts"
@import "libs"
@import "animations"
// Critical css
::placeholder
  color: #7c7c7c
::selection
  color: #fff
input, textarea
  outline: none
  &:focus
    color: #7c7c7c
*
  margin: 0
  padding: 0
button
  @include reset-button
a,button,input
  cursor: pointer
  transition: 2s ease
a
  text-decoration: none
  color: #fff
body
  min-width: 320px
  max-width: 1980px
  width: 100%
  margin: 0 auto
  position: relative
  overflow-x: hidden
  color: #000
  background-color: $white
  font-family: 'Montserrat', sans-serif
  @include font(400,16px,1.65)
// Headers text configs
h1,h3
  text-transform: uppercase
h1
  font-family: 'Yeseva One', cursive
  @include font(400,48px,55px)
  color: #fff
  letter-spacing: 4.7px
h2
  @include font(800,36px,40px)
  margin-bottom: 20px
h3
  @include font(800,16px,40px)
  letter-spacing: 2px
h4
  @include font(700,14px,31px)
h5
  @include font(700,16px,21px)

img
  max-width: 100%
  height: auto
#header,#main,#footer
  overflow: hidden
// containers
.container
  max-width: 1141px
  width: 100%
  margin: 0 auto
.grid-container
  display: grid
  justify-content: space-between
.flex-container
  display: flex
  justify-content: space-between
.btn
  @include button(url('../img/icons/big-button.png') no-repeat,#fff)
  height: 70px
  line-height: 70px
  text-transform: uppercase
  border-radius: 40px
  @include control-text
  background-size: 115% 101%
  background-position: center
.btn:hover
  box-shadow: 0 0 5px 5px #07ccfe
.subtitle-color
  background-image: linear-gradient(to right, #a95fa6, #967acb, #7795e6, #4cadf6, #11c4fb)
  background-clip: text
  color: transparent
  display: inline-block
.small-color-btn
  display: block
  font-size: 14px
  @include small-btn-color(to right)
  width: 40px
  height: 40px
  border-radius: 50%
  text-align: center
  line-height: 40px
  @include control-text
.small-color-btn:hover
  box-shadow: 0 0 4px 4px #11c4fb

//Header
#header
  @include backgrounds('../img/_src/header/header-bg.png',$grey)
  position: relative
.header-top
  grid-template-columns: 200px 1fr
  padding-top: 53px
  grid-column-gap: 80px
  position: relative
.toggle-menu
  display: none
  width: 40px
  height: 40px
  background: transparent
  .decor-toggle
    display: block
    height: 3px
    background: $white
    width: 100%
    margin-bottom: 10px
.decor-toggle:nth-of-type(1),.decor-toggle:nth-of-type(2),.decor-toggle:nth-of-type(3)
  transition: all 2s ease-in-out
.toggle-menu.active
  .decor-toggle:nth-of-type(1)
    transform: rotate(45deg)
    margin-top: 20px
  .decor-toggle:nth-of-type(2)
    opacity: 0
  .decor-toggle:nth-of-type(3)
    transform: rotate(-45deg)
    margin-top: -25px
.header-menu
  @include list-type-none
  grid-template-columns: repeat(1fr)
  margin-top: 32px
  font-weight: 800
  font-size: 13px
  text-transform: uppercase
.header-menu__list
  text-align: center
  margin-right: 16px
  position: relative
  a:hover
    @include link-hover
  a:hover::before
    content: ""
    position: absolute
    bottom: -11px
    display: block
    width: 100%
    height: 5px
    background-image: linear-gradient(to right, #a95fa6, #967acb, #7795e6, #4cadf6, #11c4fb)
.header-middle
  margin-top: 215px
.header-middle__text
  color: #fff
  font-size: 20px
  max-width: 800px
.btn-resigtration
  margin-top: 55px
.header-info-list
  @include list-type-none
  margin-top: 130px
  padding-bottom: 355px
  color: #fff
  justify-content: flex-start
  grid-template-columns: repeat(4,1fr)
.info-list__stat,.info-list__info
  display: block
.info-list__stat
  font-weight: 800
  font-size: 25px
  .number
    font-size: 45px
    padding-right: 11px
.header-info__item:last-child
  .info-list__stat
    font-size: 45px
.header-social
  @include list-type-none
  position: absolute
  list-style-type: none
  color: #fff
  right: 82px
  top: 324px
  font-size: 20px
.header-social__item
  margin-bottom: 40px
.header-social__item a:hover
  background-image: linear-gradient(30deg, #a95fa6, #967acb, #7795e6, #4cadf6, #11c4fb)
  background-clip: text
  color: transparent
.read-next
  position: absolute
  bottom: 302px
  left: -25px
  transform: rotate(90deg)
  .read-next__text,.read-next__btn
    display: inline-block
  .read-next__text
    color: #fff
    font-size: 14px
    font-weight: 400
    border-bottom: 1px solid #353535
    padding-bottom: 5px
    letter-spacing: 2px
    margin-right: 25px
  .read-next__btn
    vertical-align: top
    transform: rotate(-90deg)
// About us
.about-us
  background-color: $grey
  .grid-container
    grid-column-gap: 55px
    grid-template-columns: 45% 1fr
.about-us-img
  margin-top: 8px
  img
    width: 100%
.about-us-info
  padding-top: 115px
.about-us-title
  text-transform: inherit
.about-us-text
  font-size: 15px
// Advantages
.advantages
  @include backgrounds('../img/_src/body/advantages.png',$grey)
  background-size: 100% 100%
  margin-top: -20px
.advantages-subtitle
  padding-top: 260px
.advantages-title
  color: #ffffff
.advantages-list
  grid-template-columns: repeat(2,1fr)
  margin-top: 110px
  color: #fff
  grid-column-gap: 130px
  grid-row-gap: 85px
  padding-bottom: 240px
.advantages-list__item
  grid-template-columns: auto 1fr
.advantages-info
  max-width: 380px
.advantages-info__title
  margin-left: 25px
  margin-top: 13px
.advantages-info__text
  font-size: 14px
  margin-left: 25px
  margin-top: 13px
  font-size: 14px
// Video
.video
  padding-top: 60px
  background: url('../img/_src/body/video-container-bg.png') no-repeat $white
  background-size: 100% 100%
  padding-bottom: 235px
.video-slider
  @include list-type-none
  margin-top: 65px
  position: relative
  .owl-dots.disabled,.owl-dots
    display: flex
    justify-content: center
    margin-bottom: 20px
    .owl-dot
      width: 12px
      height: 12px
      background: url('../img/icons/dots.svg') no-repeat
      background-size: cover
      margin: 0 15px
    .owl-dot.active
      background: url('../img/icons/dots-active.svg') no-repeat
  .owl-stage-outer
    height: 293px
    max-width: 980px
    overflow: hidden
    margin: 0 auto
  .owl-nav.disabled
    position: absolute
    width: 100%
    display: flex
    justify-content: space-between
    top: 100px
    z-index: -1
  .owl-prev,.owl-next
    display: block
    width: 40px
    height: 40px
    background: url('../img/icons/arrow-slider.png') no-repeat !important
    background-size: cover !important
    @include reset-button
    border-radius: 50%
  .owl-next
    transform: rotate(177deg)
  .owl-next:hover,.owl-prev:hover
    box-shadow: $hover-btn
.video-slider__item
  width: 300px
  height: 237px
  iframe
    width: 100%
    height: 100%
.youtube
  width: 100%
  height: 100%
  overflow: hidden
  background-position: center
  background-repeat: no-repeat
  background-size: auto
  .play
    width: 100%
    height: 100%
    background: url('../img/_src/body/video-bg.png') #000000a8
    cursor: pointer
    z-index: 1000
  .play:hover
    background: url('../img/_src/body/active-video.png') transparent
.video-title
  margin-bottom: 15px
// Tarif
.tarif-subtitle
  padding-top: 50px
.tarif-list
  grid-template-columns: repeat(auto-fit, minmax(300px, 457px))
  margin-top: 65px
  justify-content: space-around
  @include list-type-none
  padding: 0 50px
.tarif-list-item
  width: 100%
  height: 240px
  background-size: 100%
  color: #ffffff
  border-radius: 20px
  box-shadow: 0 0 15px 1px #000
.tarif-list-item:first-of-type
  background: url('../img/_src/body/tarif-1.png') no-repeat
.tarif-list-item:last-of-type
  background: url('../img/_src/body/tarif-2.png') no-repeat
.tarif-list-item__text,.btn-tarif,.tarif-list-item__title
  margin-left: 48px
.tarif-list-item__title
  padding-top: 44px
  padding-bottom: 4px
  text-transform: uppercase
.tarif-list-item__text
  font-size: 13px
  @include control-text
.tarif-number
  font-weight: 800
  font-size: 32px
  position: relative
.tarif-number::after
  content: "%"
  color: #ffffff
  font-size: 16px
  padding-left: 5px
  padding-right: 10px
  vertical-align: super
.btn-tarif
  margin-top: 20px
  display: block
  width: 180px
  height: 38px
  line-height: 38px
  text-align: center
  border-radius: 20px
  border: 1px solid #fff
  text-transform: uppercase
  background: transparent
  color: #fff
  font-size: 12px
.btn-tarif:hover
  box-shadow: 0 0 10px 2px $white
// Where to begin
.where-to-begin
  background: url('../img/_src/body/step-bg.jpg') no-repeat transparent
  background-size: 100% 100%
.where-to-begin-subtitle
  padding-top: 335px
.where-to-begin-title
  color: $white
.where-to-begin-list
  @include list-type-none
  grid-template-columns: repeat(auto-fit,minmax(200px,300px))
  margin-top: 80px
  padding-bottom: 353px
.where-to-begin-list__item
  background-color: #fff
  border-radius: 5px
  text-align: center
  position: relative
  height: 210px
.where-to-begin-list__img
  margin-top: 35px
  margin-bottom: 5px
.where-to-begin-list__title
  font-size: 15px
  text-transform: uppercase
  @include control-text
.where-to-begin-list__text
  font-size: 13px
  padding: 0 30px
  @include control-text
.where-to-begin-number
  width: 30px
  height: 30px
  line-height: 30px
  color: $white
  font-weight: bold
  position: absolute
  top: -10px
  left: -10px
  box-shadow: 0 0 0 10px #1c1c1e
.where-to-begin-list__item:nth-of-type(2)::before,.where-to-begin-list__item:nth-of-type(2)::after
  content: ""
  display: block
  width: 45px
  height: 40px
  background: url('../img/icons/dots-step.png') no-repeat
  position: absolute
  top: 100px
.where-to-begin-list__item:nth-of-type(2)::before
  right: -80px
.where-to-begin-list__item:nth-of-type(2)::after
  left: -80px
// Rewiews
.rewiews
  background-color: $grey
.rewiews-subtitle
  padding-top: 70px
.rewiews-slider
  @include list-type-none
  margin-top: 75px
  .owl-item
    padding: 10px 0
  .owl-dots
    display: flex
    justify-content: center
    margin-top: 50px
    padding-bottom: 130px
    .owl-dot
      width: 12px
      height: 12px
      background: url('../img/icons/dots.svg') no-repeat
      background-size: cover
      margin: 0 15px
    .owl-dot.active
      background: url('../img/icons/dots-active.svg') no-repeat
.rewiews-slider-item
  width: 300px
  background-color: #fff
  border-radius: 15px
  padding: 40px
  max-height: 210px
  box-shadow: 0 0 10px -2px #000
.rewiews-slider-item__top
  display: flex
  justify-content: space-between
  align-items: center
.rewiews-slider-name
  font-weight: 700
.rewiews-slider-time
  font-size: 13px
.rewiews-slider__stars
  @include list-type-none
  display: flex
  justify-content: flex-start
  padding: 5px 0
.rewiews-slider__stars-item
  width: 15px
  height: 15px
  background: url('../img/icons/star.svg') no-repeat
  margin-right: 5px
  cursor: pointer
.rewiews-slider-text
  font-size: 13px
  margin-top: 10px
// Контакты
.contact
  @include backgrounds('../img/_src/body/contact-bg.jpg',#fff)
  text-align: center
  padding-bottom: 150px
.contact-title
  padding-top: 142px
.contact-text
  font-size: 19px
  padding: 10px 20px
  strong
    font-size: 25px
    font-weight: 800
  strong::after
    content: '$'
    font-size: 14px
    vertical-align: super
.btn-contact
  margin: 0 auto
  margin-top: 30px
// Footer
#footer
  background-color: #1a1a1b
  color: #fff
  padding: 120px 0
  .grid-container
    grid-template-columns: 250px 300px 200px 250px
  .footer-item:nth-of-type(2)
    min-width: 300px
  .copyright
    font-size: 12px
    margin-top: 10px
    padding-right: 10px
  .download-sert
    background-image: linear-gradient(to right, #a95fa6, #967acb, #7795e6, #4cadf6, #11c4fb)
    background-clip: text
    color: transparent
    display: flex
    align-items: flex-start
    margin-top: 20px
    font-size: 13px
    justify-content: flex-start
    .sert-img,.sert-text
      display: block
    .sert-text
      margin-left: 15px
      margin-top: 5px
    .sert-text::after
      content: ''
      display: block
      width: 100%
      height: 1px
      background: linear-gradient(to right, #a95fa6, #967acb, #7795e6, #4cadf6, #11c4fb)
.footer-title
  text-transform: uppercase
  padding-top: 14px
.footer-title::after
  content: ''
  display: block
  width: 55px
  height: 1px
  background-image: linear-gradient(to right, #d029d3 50%, #00d2ff 50%)
  margin-bottom: 10px
.footer-adress-text
  font-size: 14px
  .adress-text-mark
    font-weight: 700
.footer-adress-text:first-of-type
  margin-top: 16px
.btn-footer-more
  display: block
  font-size: 13px
  font-weight: bold
  background: url('../img/icons/footer-btn.png') no-repeat
  background-size: 100%
  width: 223px
  height: 40px
  line-height: 39px
  text-align: center
  border-radius: 20px
  margin-top: 5px
.btn-footer-more:hover
  color: #00d2ff
.footer-mail
  font-size: 14px
  font-weight: bold
.footer-social
  @include list-type-none
  display: flex
  margin-top: 27px
.footer-social__item
  font-size: 20px
  a:hover
    @include link-hover
.footer-social__item:first-of-type
  margin-left: 10px
.footer-social__item:nth-of-type(2)
  margin: 0 35px
.footer-form-email
  background-color: #1a1a1b
  border: 1px solid #2c2c2d
  margin-top: 20px
  height: 45px
  max-width: 250px
  border-radius: 20px
  padding: 0 15px
  font-size: 13px
  color: #7c7c7c
.footer-form-email::placeholder
  color: #7c7c7c
.footer-form-submit
  margin-top: 25px
  @include reset-button
  width: 200px
  height: 40px
  line-height: 40px
  font-size: 12px
// Popup
.popup-background
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: #00000078
  width: 100%
  height: 100%
  display: none
  justify-content: center
  align-items: center
  z-index: 1000
.popup-wrapper
  display: flex
  width: 100%
  height: 100%
  justify-content: center
  align-items: center
.popup
  max-width: 360px
  width: 100%
  min-width: 300px
#popup-1
  background: url('../img/_src/body/popup-1.png') no-repeat
  .popup-submit
    background: url('../img/_src/body/invest.png') no-repeat #fff
    background-position: center
#popup-2
  background: url('../img/_src/body/popup-2.png') no-repeat
  .popup-submit
    background: url('../img/_src/body/invest-2.png') no-repeat #fff
    background-position: center
#popup-1,#popup-2
  display: none
  background-size: 100% 100%
.popup-container
  position: relative
  padding: 25px 20px
  text-align: center
  color: $white
.popup-close
  position: absolute
  top: 12px
  right: 15px
  cursor: pointer
  font-size: 17px
  font-weight: bold
.popup-list
  @include list-type-none
  padding-bottom: 40px
.popup-list-item
  font-size: 13px
  padding: 15px 0
  border-bottom: 1px solid #ffffff38
.popup-number
  font-size: 16px
  font-weight: 800
.popup-number::after
  content: '$'
  vertical-align: super
  font-size: 10px
  padding-left: 2px
.popup-submit
  font-size: 14px
  height: 50px
  line-height: 50px
  box-shadow: 0 0 10px -1px #fff
  margin: 0 auto
@import "media" // Always at the end
